apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging
resources:
  - namespace.yaml
  - ../../base
patches:
  - target:
      kind: Ingress
      name: affine-ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: staging.affine.local
      - op: replace
        path: /spec/tls/0/hosts/0
        value: staging.affine.local
