apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production
resources:
  - namespace.yaml
  - hpa.yaml
  - ../../base
  - affine-release.yaml
patches:
  - target:
      kind: Ingress
      name: affine-ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/http/paths/0/backend/service/name
        value: affine-production-svc
  - target:
      kind: Cluster
    patch: |-
      - op: replace
        path: /spec/instances
        value: 3
  - target:
      kind: Dragonfly
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
