apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production
resources:
  - namespace.yaml
  - hpa.yaml
  - ../../base
patches:
  - target:
      kind: HelmRelease
      name: production
    patch: |-
      - op: replace
        path: /spec/values/replicaCount
        value: 3
  - target:
      kind: Cluster
    patch: |-
      - op: replace
        path: /spec/instances
        value: 3
  - target:
      kind: Dragonfly
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
